<html>
    <head>
        
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//js.pusher.com/4.0/pusher.min.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" type="text/css" href="/Users/irenepolo/timBot/pushers/pushchat/templates/css/styles.css"/>
        -->
    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Foreign Language Acquisition Bot</a>
        </nav>
        
        <article class="grid-container">
            
                <!--LANGUAGE SETTINGS PANEL-->
                <section class="grid-item item1">
                    <form class="settings_border">
                        <div class="settings_panel" style ="text-align: center">
                            <div class="form-group" style ="display: inline-block">
                                <h3>Language Settings</h3>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Chat Language</label><br>
                                <select id="dialog_options" >
                                        <option value="select" name ="chat_lang" id = "chatting"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">Translation Language</label>
                                    <select id="translation_options" >
                                            <option value="select" name="translate_lang" id = "translating"></option>
                                    </select>
                            </div>
                        </div>
                    </form>
                </section>

                <!--CHAT CONSOLE-->
                <section class="grid-item item2">
                    <div class="panel panel-primary settings_border">

                        <!--Chat Messages-->
                        <div class="panel-body" id="demo">
                            <ul class="chat" id="chat">
                            </ul>
                        </div>

                        <!-- Input Box -->
                        <div class="panel-footer" id="chat_console_footer">
                            <div class="input-group">
                                <!--- Speak Button -->
                                <span class="input-group-btn" hidden>
                                    <button class="btn btn-primary btn-sm" id="btn-chat" onclick = "speak_input()">Speak</button>
                                </span>
                                <!-- Text Input -->
                                <input id="btn-input" name="user_input" onfocus="this.value=''" class="form-control input-sm" placeholder="Type your message here..." type="text">
                                <!--- Send Button -->
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick = "chat_line()">Send</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </section>

                <!--ENTITIES PANEL-->
                <section class = "grid-item item3">
                    <div class="panel-body settings_border " id="demo" style ="text-align: center">
                        <div class="form-group" style = "display: inline-block">
                            <h3>Entities</h3>
                        </div>
                        <!-- ul element holding entities -->
                        <ul class="chat" id="entity_list" >
                        </ul>   
                    </div>
                </section>

           
        </article>


        <style>
            .grid-container {
                display: grid;
                grid-template-columns: 350px auto 350px;
                grid-column-gap: 20px;
                padding: 10px;
            }
            .settings_panel{
                padding : 5px;
            }
            .settings_border{
                border: 2px solid black;
                border-radius: 12px;
            }
            .chat
            {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            .chat li
            {
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 1px dotted #B3A9A9;
            }
            
            .chat li.left .chat-body
            {
                margin-left: 60px;
            }
            
            .chat li.right .chat-body
            {
                margin-right: 60px;
            }
            
            
            .chat li .chat-body p
            {
                margin: 0;
                color: #777777;
            }
            
            .panel .slidedown .glyphicon, .chat .glyphicon
            {
                margin-right: 5px;
            }
            
            .panel-body
            {
                overflow-y: scroll;
                height: 500px;
                padding:10px 20px 10px 20px;
            }
            
            ::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }
            
            ::-webkit-scrollbar
            {
                width: 12px;
                background-color: #F5F5F5;
                
            }
            
            ::-webkit-scrollbar-thumb
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }

            /*Text bubble for user*/
            .user_chat_text {
                width: 300px;
                /* margin: 50px auto; */
                float: right;
                border-radius: 15px;
                background: #00bfb6;
                color: #fff;
                padding: 20px;
                text-align: center;
                font-weight: 900;
                font-family: arial;
                position: relative;
            }

            /*Text bubble for chatbot*/
            .chatbot_chat_text {
                width: 300px;
                /* margin: 50px auto; */
                float: left;
                border-radius: 15px;
                background: #e97006;
                color: #fff;
                padding: 20px;
                text-align: center;
                font-weight: 900;
                font-family: arial;
                position: relative;
            }

            .user_chat:before{
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 15px solid #00bfb6;
                border-right: 15px solid transparent;
                border-top: 15px solid #00bfb6;
                border-bottom: 15px solid transparent;
                right: -16px;
                top: 0px;
            }


            .chatbot_chat_text:before{
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 15px solid transparent;
                border-right: 15px solid #e97006;
                border-top: 15px solid #e97006;
                border-bottom: 15px solid transparent;
                left: -16px;
                top: 0px;
            }

            .translated_text {
                /* width: 300px; */
                margin: auto;
                /* border-radius: 15px;*/
                /* background: #555;  */
                color: black;
                /* padding: 20px; */
                text-align: center;
                font-weight: 900;
                font-family: arial;
                position: relative;
            }

            ul {
                list-style-type: none;
            }
        </style>

        <script type="text/javascript">
            var entityMap = {
                "&": "&amp;",
                "<": "&lt;",
                ">": "&gt;",
                '"': '&quot;',
                "'": '&amp;#39;',
                "/": '&#x2F;'
            };

            //function to try to properly format output and avoid strange symbols
            function escapeHtml(string) {
                return String(string).replace(/[&<>"'\/]/g, function (s) {
                    return entityMap[s];
                    console.log('entityMap: ' + entityMap[s]);
                });
            }

            //Populates the Language Selection dropdown menus
            $.ajax({
                type: "GET",
                url:"/ajax/get_languages/",
                dataType: "json",
                success: function (data) {
                    console.log('get_languages: SUCCESS!');
                    // console.log(data);
                    $.each(JSON.parse(data),function(i,obj) {
                        var div_data="<option value="+obj.language+">"+obj.name+"</option>";
                        $(div_data).appendTo('#dialog_options');
                        $(div_data).appendTo('#translation_options'); 
                    });   
                }
            });

            
            chat = 0;
            translationCount = 0;
            var hidden = true;
            //Controls output to the chat console
            function chat_line() { 
                //Check to make sure languages are selected
                console.log("CHECK IF LANGUAGES SELECTED: ");
                var y = $('#dialog_options option:selected').attr('value');
                var z = $('#translation_options option:selected').attr('value');
                console.log(hidden);

                //Append Warning Statement to the chat area if languages not selected
                if(y=='select' || z == 'select') {
                    console.log('WARNING: LANGUAGES NOT SELECTED');
                    var footer = document.getElementById("chat_console_footer");
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Please select languages in left panel."));
                    p.setAttribute("id", "languageWarning");
                    p.setAttribute("style", "color:red");
                    footer.appendChild(p);
                    hidden = false;
                    console.log(hidden);
                }

                //Remove warning statement if present
                else {
                    console.log(hidden);
                    if (!hidden){
                        console.log("HIDING THE WARNING")
                        var warning = document.getElementById("languageWarning");
                        warning.hidden = true;
                    }
                
                    

                //PRINTS USER INPUT TO CHAT CONSOLE
                    //Create the text bubble
                    var text_bubble = document.createElement("li");
                    text_bubble.setAttribute("id", "chat"+chat);
                    

                    //Create the user text paragraph
                    var input =  document.getElementById("btn-input").value; 
                    var user_text = document.createElement("p");
                    user_text.appendChild(document.createTextNode(input));
                    user_text.setAttribute("class", "user_chat_text user_chat");
                    user_text.setAttribute("id", "user" + chat);
                    user_text.setAttribute("onclick", "show_translation(this)");
                    user_text.setAttribute("translated", "false"); 

                    //Append the user text to the text bubble
                    text_bubble.appendChild(user_text);

                    //Append the text bubble to the chat list
                    var ul = document.getElementById("chat");
                    ul.appendChild(text_bubble);
                    document.getElementById(text_bubble.getAttribute('id')).scrollIntoView();
                    console.log(ul);
                

                //PRINTS ENTITIES FROM USER INPUT TO ENTITIES LIST
                    try{
                        $.ajax({
                            type: "POST",
                            url:"/ajax/get_entities/",
                            dataType: "json",
                            data: {
                                user_input : input,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function (data,) {
                                console.log('get_entities = SUCCESS!');

                                //Populate the entity list
                                var count = 1;
                                data.forEach(function(entity) {

                                    //Create entity link
                                    var a = document.createElement("a");
                                    var name =  entity.name; 
                                    a.appendChild(document.createTextNode(name));
                                    a.setAttribute("target", "_blank");

                                    try{ 
                                        a.setAttribute("href", entity.metadata.wikipedia_url);

                                        //Create entity listing
                                        var li = document.createElement("li");
                                        li.appendChild(a)
                                        li.setAttribute("id", "li"+count);

                                        //Append entity listing to entity list
                                        var ul = document.getElementById("entity_list");
                                        ul.appendChild(li);
                                        count++;
                                    }
                                    catch(error) {
                                        console.log('error handled')
                                    }
                                    
                                });

                                //CONSOLE LOG ENTITY LIST, can comment out below
                                //#############
                                var list = document.getElementById("entity_list");
                                console.log(list)
                                for (; count >0; count--) {
                                    var l = document.getElementById("li"+count);
                                    console.log(l);
                                }
                                //#############
                            }
                        });
                    }
                    catch(error){
                        console.log("No entities detected.");
                    }

                //Increment chat count
                chat++;
                console.log("chat count: ", chat);

                //If selected Chat Language is not English, translate to english
                console.log("LANGUAGE SELECTED: ");
                console.log(y);
                console.log(z);
                var userInput =  document.getElementById("btn-input").value;
                if(y != "en") {
                    //send user input to getEnglish(nonenglish)
                    $.ajax({
                        type: "POST",
                        url: "/ajax/get_english_translation/",
                        data: {
                            user_input: userInput,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(data,) {
                            console.log("TRANSLATING TO ENGLISH: ");
                            console.log(data.translatedText);
                            var phrase = data.translatedText;
                            get_English(phrase);
                        }
                    })
                }
                else{
                    get_chatbot_reply();
                }
                
                }
            }

            function get_English(englishText){
                var inputText = englishText;
                var chatbot_response = "";
                //get Chatbot response
                $.ajax({
                    type: "POST",
                    url:"/ajax/get_chatbot_reply/",
                    // dataType: "text",
                    data: {
                        parent_text : inputText,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log("GETTING CHATBOT RESPONSE")
                        console.log(data)
                        chatbot_response = data;

                        //translate chatbot response
                        var chatLang = $('#dialog_options option:selected').attr('value');
                        $.ajax({
                                type: "POST",
                                url: "/ajax/get_nonenglish_translation/",
                                data: {
                                    user_input: chatbot_response,
                                    langTo : chatLang,
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                                },
                                success: function(data,) {
                                    console.log("TRANSLATING TO CHAT LANGUAGE: ");
                                    console.log(data.translatedText);
                                    text = data.translatedText
                                    //Create chatbot text paragraph
                                    chatbot_reply = document.createElement("p");
                                    chatbot_reply.appendChild(document.createTextNode(text));
                                    chatbot_reply.setAttribute("class", "chatbot_chat_text chatbot_text");
                                    chatbot_reply.setAttribute("id", "chatbot" + chat);
                                    chatbot_reply.setAttribute("onclick", "show_translation(this)");
                                    chatbot_reply.setAttribute("translated", "false"); 

                                    //Create chatbot text bubble
                                    var chatbot_text_bubble = document.createElement("li");
                                    chatbot_text_bubble.setAttribute("id", "botchat"+chat);

                                    //Append the chatbot text to the chatbot text bubble
                                    chatbot_text_bubble.appendChild(chatbot_reply);

                                    //Append the chatbot text bubble to the chat list
                                    var ul = document.getElementById("chat");
                                    ul.appendChild(chatbot_text_bubble);
                                    document.getElementById(chatbot_text_bubble.getAttribute('id')).scrollIntoView(); 
                                    console.log(ul);
                                    
                                }
                        })
                    }
                });

                
                
            }

            //PRINT CHATBOT REPLY TO CHAT CONSOLE
            function get_chatbot_reply() {
                console.log("CHATBOT")
                var input =  document.getElementById("btn-input").value; 
                console.log(input);
                var chatbot_response = '';

                $.ajax({
                    type: "POST",
                    url:"/ajax/get_chatbot_reply/",
                    // dataType: "text",
                    data: {
                        parent_text : input,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log("GETTING CHATBOT RESPONSE")
                        console.log(data)
                        chatbot_response = data;
                        //Create chatbot text paragraph
                        chatbot_reply = document.createElement("p");
                        chatbot_reply.appendChild(document.createTextNode(data));
                        chatbot_reply.setAttribute("class", "chatbot_chat_text chatbot_text");
                        chatbot_reply.setAttribute("id", "chatbot" + chat);
                        chatbot_reply.setAttribute("onclick", "show_translation(this)");
                        chatbot_reply.setAttribute("translated", "false"); 

                        //Create chatbot text bubble
                        var chatbot_text_bubble = document.createElement("li");
                        chatbot_text_bubble.setAttribute("id", "botchat"+chat);

                        //Append the chatbot text to the chatbot text bubble
                        chatbot_text_bubble.appendChild(chatbot_reply);

                        //Append the chatbot text bubble to the chat list
                        var ul = document.getElementById("chat");
                        ul.appendChild(chatbot_text_bubble);
                        document.getElementById(chatbot_text_bubble.getAttribute('id')).scrollIntoView(); 
                        console.log(ul);
                    }
                });

                //PRINTS ENTITIES FROM CHATBOT TO ENTITIES LIST
                try {
                    $.ajax({
                        type: "POST",
                        url:"/ajax/get_entities/",
                        dataType: "json",
                        data: {
                            user_input : chatbot_response,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                        success: function (data,) {
                            console.log('get_entities = SUCCESS!');

                            //Populate the entity list
                            var count = 1;
                            data.forEach(function(entity) {

                                //Create entity link
                                var a = document.createElement("a");
                                var name =  entity.name; 
                                a.appendChild(document.createTextNode(name));
                                a.setAttribute("target", "_blank");

                                try{ 
                                    a.setAttribute("href", entity.metadata.wikipedia_url);

                                    //Create entity listing
                                    var li = document.createElement("li");
                                    li.appendChild(a)
                                    li.setAttribute("id", "li"+count);

                                    //Append entity listing to entity list
                                    var ul = document.getElementById("entity_list");
                                    ul.appendChild(li);
                                    count++;
                                }
                                catch(error) {
                                    console.log('error handled')
                                }
                                    
                                });

                                
                            }
                        });
                }
                catch(error){
                    console.log("No entities detected.");
                }
            }

            //OUTPUT TRANSLATION TO CHAT CONSOLE
            function show_translation(element) {
                console.log("SHOW TRANSLATION: ");
                console.log(element);

                var id = element.id;
                var x =  document.getElementById(id).textContent; 
                var y = $('#dialog_options option:selected').attr('value');
                var z = $('#translation_options option:selected').attr('value');

                var t;
                $.ajax({
                    type: "POST",
                    url:"/ajax/get_translation/",
                    dataType: "json",
                    data: {
                        user_input : x,
                        chat_lang : y,
                        translate_lang : z,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log('get_translation = SUCCESS!');
                        console.log(data);
                        //check if translated attribute in parent is false or true
                        var parent =  document.getElementById(id);
                        var parentID = parent.getAttribute('id');
                        if(parent.getAttribute('translated') == 'true') {
                            var child = document.getElementById('translation' + parentID);
                            parent.removeChild(child);
                            parent.setAttribute('translated', 'false');
                        }
                        else {
                            //Create translated text paragraph
                            translationResult = data.translatedText;
                            translationResult = translationResult.replace(/&#39;/g, "\'")
                            translationResult = translationResult.replace(/&quot;/g, "\"")
                            translated_text = document.createElement("p");
                            translated_text.appendChild(document.createTextNode(translationResult));
                            translated_text.setAttribute("class", "translated_text");
                            translated_text.setAttribute("id", "translation"+parentID);

                            //Append translated text bubble to user text bubble
                            user_text_bubble = document.getElementById(id);
                            user_text_bubble.appendChild(translated_text);
                            parent.setAttribute('translated', 'true');
                            
                            console.log(user_text_bubble);
                        }
                        

                    }
                });

                
            } 

            function speak_input(){
                //DISPLAY MIC ICON TO INDICATE SPEAKING

                //CALL SPEECH_TO_TEXT

                $.ajax({
                    type: "POST",
                    url:"/ajax/speak_input/",
                    dataType: "json",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log('get_translation = SUCCESS!');
                        console.log(data);

                        //append the translated test to
                        li = document.createElement("li");
                        li.appendChild(document.createTextNode(data.translatedText));
                        elem = document.getElementById(id);
                        elem.appendChild(li);
                        console.log(elem);


                    }
                });

            }
       
        </script>
    </body>

</html>