<html>
    <head>
        
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- My CSS -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pushchat/styles.css' %}">
        <!-- Optional JavaScript -->
        <script src="//js.pusher.com/4.0/pusher.min.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Foreign Language Acquisition Bot</a>
        </nav>
        
        <article class="grid-container">
            
                <!--LANGUAGE SETTINGS PANEL-->
                <section class="grid-item item1">
                    <form class="settings_border">
                        <div class="settings_panel" style ="text-align: center">
                            <div class="form-group" style ="display: inline-block">
                                <h3>Language Settings</h3>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Chat Language</label><br>
                                <select id="dialog_options" >
                                        <option value="select" name ="chat_lang" id = "chatting"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">Translation Language</label>
                                    <select id="translation_options" >
                                            <option value="select" name="translate_lang" id = "translating"></option>
                                    </select>
                            </div>
                        </div>
                    </form>
                </section>

                <!--CHAT CONSOLE-->
                <section class="grid-item item2">
                    <div class="panel panel-primary settings_border">

                        <!--Chat Messages-->
                        <div class="panel-body" id="demo">
                            <ul class="chat" id="chat">
                            </ul>
                        </div>

                        <!-- Input Box -->
                        <div class="panel-footer" id="chat_console_footer">
                            <div class="input-group">
                                <!--- Speak Button -->
                                <span class="input-group-btn" hidden>
                                    <button class="btn btn-primary btn-sm" id="btn-chat" onclick = "speak_input()">Speak</button>
                                </span>
                                <!-- Text Input -->
                                <input id="btn-input" name="user_input" onfocus="this.value=''" class="form-control input-sm" placeholder="Type your message here..." type="text">
                                <!--- Send Button -->
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick = "chat_line()">Send</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </section>

                <!--ENTITIES PANEL-->
                <section class = "grid-item item3">
                    <div class="panel-body settings_border " id="demo" style ="text-align: center">
                        <div class="form-group" style = "display: inline-block">
                            <h3>Entities</h3>
                        </div>
                        <!-- ul element holding entities -->
                        <ul class="chat" id="entity_list" >
                        </ul>   
                    </div>
                </section>

           
        </article>

        {% load static %}
        <script src="{% static 'pushchat/script.js' %}"></script>
    </body>

</html>