<html>
    <head>
        <title></title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//js.pusher.com/4.0/pusher.min.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" type="text/css" href="/Users/irenepolo/timBot/pushers/pushchat/templates/css/styles.css"/>
        -->
        <script type="text/javascript">
            $.ajax({
                type: "GET",
                url:"/ajax/get_languages/",
                dataType: "json",
                success: function (data) {
                    console.log('get_languages: SUCCESS!');
                    // console.log(data);
                    $.each(JSON.parse(data),function(i,obj) {
                        var div_data="<option value="+obj.language+">"+obj.name+"</option>";
                        $(div_data).appendTo('#dialog_options');
                        $(div_data).appendTo('#translation_options'); 
                    });   
                }
            });

            
            chat = 0;
            var hidden = true;
            function chat_line() { 
                //CHECK IF LANGUAGE SETTINGS HAVE BEEN SELECTED
                console.log("CHECK IF LANGUAGES SELECTED: ");
                var y = $('#dialog_options option:selected').attr('value');
                var z = $('#translation_options option:selected').attr('value');
                console.log(hidden);
                if(y=='select' || z == 'select') {
                    // if(false) {
                    console.log('WARNING: LANGUAGES NOT SELECTED');
                    //PRINT WARNING TO SELECT LANGUAGE
                    //access the div where the chat console is located
                    var footer = document.getElementById("chat_console_footer");
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode("Please select languages in left panel."));
                    p.setAttribute("id", "languageWarning");
                    p.setAttribute("style", "color:red");
                    footer.appendChild(p);
                    hidden = false;
                    console.log(hidden);
                }
                else{
                    console.log(hidden);
                    if (!hidden){
                        console.log("HIDING THE WARNING")
                        var warning = document.getElementById("languageWarning");
                        warning.hidden = true;
                    }
                    

                    //PRINTS USER INPUT TO CHAT CONSOLE
                    //get user text into <p></p>
                    var x =  document.getElementById("btn-input").value; 
                    var p = document.createElement("p");
                    p.appendChild(document.createTextNode(x));
                    p.setAttribute("class", "chat_text user_chat");
                    var ul_li = document.createElement("ul");
                    ul_li.appendChild(p);
                    ul_li.setAttribute("id", "chat"+chat);
                    ul_li.setAttribute("onclick", "show_translation(this)");
                    var ul = document.getElementById("chat");
                    ul.appendChild(ul_li);
                    console.log(ul);

                    //PRINTS ENTITIES FROM USER INPUT TO ENTITIES LIST
                    $.ajax({
                        type: "POST",
                        url:"/ajax/get_entities/",
                        dataType: "json",
                        data: {
                            user_input : x,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data,) {
                            console.log('get_entities = SUCCESS!');
                            // console.log(data);
                            // console.log(data[0].name);
                            // console.log(data[0].metadata.wikipedia_url);

                            var count =1;
                            data.forEach(function(entity) {
                                
                                var x =  entity.name; 
                                var ul = document.getElementById("entity_list");
                                var li = document.createElement("li");
                                var a = document.createElement("a");
                                a.appendChild(document.createTextNode(x));
                                a.setAttribute("target", "_blank");
                                try{ 
                                    a.setAttribute("href", entity.metadata.wikipedia_url);
                                    li.appendChild(a)
                                    li.setAttribute("id", "li"+count);
                                    ul.appendChild(li);
                                    count++;
                                }
                                catch(error) {
                                    console.log('error handled')
                                }
                                
                            });

                            var list = document.getElementById("entity_list");
                            console.log(list)
                            for (; count >0; count--) {
                                var l = document.getElementById("li"+count);
                                console.log(l);
                            }
                        }
                    });
                    chat++;
                    console.log("chat count: ", chat);
                }

                
            }

            function show_translation(element) {
                console.log("SHOW TRANSLATION: ");
                console.log(element);
                var id = element.id;
                // console.log(id); //works up to here
                var x =  document.getElementById(id).textContent; 
                var y = $('#dialog_options option:selected').attr('value');
                var z = $('#translation_options option:selected').attr('value');

                var t;
                $.ajax({
                    type: "POST",
                    url:"/ajax/get_translation/",
                    dataType: "json",
                    data: {
                        user_input : x,
                        chat_lang : y,
                        translate_lang : z,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log('get_translation = SUCCESS!');
                        console.log(data);

                        //append the translated test to
                        p = document.createElement("p");
                        p.appendChild(document.createTextNode(data.translatedText));
                        p.setAttribute("class", "translate_chat_text");
                        li = document.createElement("li");
                        li.appendChild(p);
                        elem = document.getElementById(id);
                        elem.appendChild(li);
                        console.log(elem);


                    }
                });

                
            } 

            function speak_input(){
                //DISPLAY MIC ICON TO INDICATE SPEAKING

                //CALL SPEECH_TO_TEXT

                $.ajax({
                    type: "POST",
                    url:"/ajax/speak_input/",
                    dataType: "json",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data,) {
                        console.log('get_translation = SUCCESS!');
                        console.log(data);

                        //append the translated test to
                        li = document.createElement("li");
                        li.appendChild(document.createTextNode(data.translatedText));
                        elem = document.getElementById(id);
                        elem.appendChild(li);
                        console.log(elem);


                    }
                });

            }
       
        </script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Foreign Language Acquisition Bot</a>
            </nav>
        </div>
        <div class="container">
            
            <div class="row">
                <div class="col">
                    <form class="settings_border">
                        <div class="settings_panel" style ="text-align: center">
                            <div class="form-group" style ="display: inline-block">
                                <h3>Language Settings</h3>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                    Show Translation
                                    </label>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Chat Language</label>
                                <select id="dialog_options" >
                                        <option value="select" name ="chat_lang" id = "chatting"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">Translation Language</label>
                                    <select id="translation_options" >
                                            <option value="select" name="translate_lang" id = "translating"></option>
                                    </select>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="panel panel-primary settings_border">

                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> 
                        </div>

                        <div class="panel-body" id="demo">
                    <!-- ul element holding chat messages -->
                            <ul class="chat" id="chat">
                            </ul>
                        </div>

                        <div class="panel-footer" id="chat_console_footer">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <!--- send button for the chat box -->
                                    <button class="btn btn-primary btn-sm" id="btn-chat" onclick = "speak_input()">Speak</button>
                                    <!-- <button class="btn btn-warning btn-sm" id="btn-chat" >Send</button> -->

                                </span>
                                <!-- text imput fot the messages to be typed into -->
                                <input id="btn-input" name="user_input" onfocus="this.value=''" class="form-control input-sm" placeholder="Type your message here..." type="text">
                                <span class="input-group-btn">
                                    <!--- send button for the chat box -->
                                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick = "chat_line()">Send</button>
                                    <!-- <button class="btn btn-warning btn-sm" id="btn-chat" >Send</button> -->

                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class = "col">
                    <div class="panel-body settings_border " id="demo" style ="text-align: center">
                        <div class="form-group" style = "display: inline-block">
                            <h3>Entities</h3>
                        </div>
                        <!-- ul element holding entities -->
                        <ul class="chat" id="entity_list" >
                        </ul>   
                    </div>
                </div>

            </div>
        </div>


    <style>
    .settings_panel{
        padding : 5px;
    }
    .settings_border{
        border: 2px solid black;
        border-radius: 12px;
    }
    .chat
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .chat li
    {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }
    
    .chat li.left .chat-body
    {
        margin-left: 60px;
    }
    
    .chat li.right .chat-body
    {
        margin-right: 60px;
    }
    
    
    .chat li .chat-body p
    {
        margin: 0;
        color: #777777;
    }
    
    .panel .slidedown .glyphicon, .chat .glyphicon
    {
        margin-right: 5px;
    }
    
    .panel-body
    {
        overflow-y: scroll;
        height: 500px;
    }
    
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar-thumb
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .chat_text {
        width: 300px;
        margin: 10px auto;
        background: #00bfb6;
        padding: 20px;
        text-align: center;
        font-weight: 900;
        color: #fff;
        font-family: arial;
        position:relative;
    }

    .user_chat:before{
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid #00bfb6;
        border-right: 10px solid transparent;
        border-top: 10px solid #00bfb6;
        border-bottom: 10px solid transparent;
        right: -19px;
        top: 6px;
    }

    .translate_chat_text {
        width: 300px;
        margin: 10px auto;
        border: 2px solid #dd4d0a;
        padding: 20px;
        text-align: center;
        font-weight: 900;
        color: #dd4d0a;
        font-family: arial;
        position:relative;
    }
    </style>
</body>

</html>